body {
	background: #eee;
	color: #555;
	font:14px/28px Bitter;
	
}

#main {
	width: 880px;
	margin: 0 auto;
}
h1 {
	font-family: Quicksand;
}

h1.site-title {
	text-transform: uppercase;
	text-align: center;
	font-weight: 300;
	font-size: 50px;
	border-bottom: 1px solid #AAA;
	padding-bottom: 25px;
}
h1.site-title span{
	font-size: 14px;
	display: block;
	margin-top: 15px;
	font-weight: 700; 
	color: hsl(17, 80%, 50%);
}


h2 {
	padding-bottom: 5px;
	color: #E65319;
	font-size: 15px;
	font-weight: 300;
}

h3 {
	float: left;
	width: 125px;
}

h2 a{
	color: #E65319;
}

a {
	color: #555;
	border-bottom: 1px dotted;
	text-decoration: none;
}

.img-container{
	float: left;
	width: 390px;
	margin-right: 110px;
}

.img-container-second{
	margin-right: 0px;
}



img {
	width: 375px;
	border: 5px solid lightblue;
	float: left;
}

img.first {
	margin-right: 110px;
}

section {
	width: 890px; 
	margin: 0 auto; 
	padding: 50px 0;
	background: url(hr.png) no-repeat center bottom;
}

section.images{
	position: relative;
 }

.drag-me{
	background: #E65319;
	color: white;
	border-radius: 5px;
	padding: 12px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	border: none;
	margin-left: 75px;
}

.drag-me:hover{
	opacity:.9;
}
 
span.arrow{
	position: absolute;
	top: 280px;
	font-size: 25px;
	left: 430px;
	color: #888;
}



.group:after {
        visibility: hidden;
        display: block;
        content: "";
        clear: both;
        height: 0;
        }
* html .group             { zoom: 1; } /* IE6 */
*:first-child+html .group { zoom: 1; } /* IE7 */